name: xesmf
channels:
  - conda-forge
dependencies:
  - cftime
  - codecov
  - dask
  - esmpy
  - netcdf4
  - numba
  - numpy
  - pip
  - pre-commit
  - pytest
  - pytest-cov
  - shapely
  - sparse>=0.8.0
  - pip:
      - git+https://github.com/pydata/xarray.git
      - git+https://github.com/xarray-contrib/cf-xarray.git
