name: xesmf
channels:
    - conda-forge
dependencies:
    - cf_xarray>=0.3.1
    - cftime
    - codecov
    - dask
    - esmpy
    - numba
    - numpy
    - pip
    - pre-commit
    - pydap
    - pytest
    - pytest-cov
    - shapely
    - sparse>=0.8.0
    - xarray>=0.17.0
