name: CI

on:
  pull_request:
    branches:
      - '*'
  schedule:
    - cron: '0 0 * * *' # Daily “At 00:00”
  workflow_dispatch: # allows you to trigger manually

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -l {0}
    strategy:
      fail-fast: false
      matrix:
        include:
          # Warning : numbers below are read as numbers. 3.10 < 3.2
          - python-version: 3.7
            esmf-version: 8.1
          - python-version: 3.8
            esmf-version: 8.2
          - python-version: 3.9
            esmf-version: 8.3
          - python-version: '3.10'
            esmf-version: 8.4
          # - python-version: 3.11  # Numba is incompatible with 3.11
          #  esmf-version: 8.4

    steps:
      - name: Cancel previous runs
        uses: styfle/cancel-workflow-action@0.11.0
        with:
          access_token: ${{ github.token }}
      - name: Checkout source
        uses: actions/checkout@v3

      - name: Conda setup
        uses: conda-incubator/setup-miniconda@v2
        with:
          channels: conda-forge
          miniforge-variant: Mambaforge
          python-version: ${{ matrix.python-version }}
          activate-environment: xesmf
          auto-activate-base: false

      - name: Set up conda environment
        run: |
          mamba env update -f ci/environment.yml
          mamba install -c conda-forge "esmpy=${{ matrix.esmf-version }}"
          python -m pip install --no-deps -e .

      - name: Conda list information
        run: |
          conda env list
          conda list

      - name: Run tests
        run: |
          python -m pytest --cov=./ --cov-report=xml --verbose

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3.1.1
        with:
          file: ./coverage.xml
          fail_ci_if_error: false

  upstream-dev:
    name: upstream-dev
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash -l {0}
    steps:
      - name: Cancel previous runs
        uses: styfle/cancel-workflow-action@0.11.0
        with:
          access_token: ${{ github.token }}
      - uses: actions/checkout@v3
      - uses: conda-incubator/setup-miniconda@v2
        with:
          channels: conda-forge
          miniforge-variant: Mambaforge
          activate-environment: xesmf
          auto-update-conda: false
          python-version: '3.10'
      - name: Set up conda environment
        run: |
          mamba env update -f ci/environment-upstream-dev.yml
          python -m pip install -e .

      - name: Conda list information
        run: |
          conda env list
          conda list
      - name: Run tests
        run: |
          python -m pytest --cov=./ --cov-report=xml --verbose
